<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <% if(status==1){%>
            <h1>Hello<%=", "+name%></h1>
            <form action="/signout" method="POST">
                <button>Sign Out</button>
            </form>
            <a href="/create_community">Create Community</a>
            <a href=<%='/myCommunities/:'+id%>>My Communities</a> 
            <a href=<%='/mycontacts/:'+id%>>My Contacts</a>
            <a href=<%='/user_events/:'+id%>>My Events</a> 
            <a href=<%='/mymessages/:'+id%>>My Messages</a> 
            <form action="/search" method="POST">
                <input  name="search" id="search" placeholder="Search for Communities!">
            </form>          
        <%}else{%>
            <div class = "container">
                <h1>Community</h1>
                <form action="/search" method="POST">
                    <input  name="search" id="search" placeholder="Search for Communities!">
                </form>
                <form action="/signin" method="GET">
                    <button>Sign In</button>
                </form>  
            </div>          
        <%}%>
        
    </body>
</html>