<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <% if(status==true){%>
        <div class="sidebar">
            <div class="navigation">
                <a onclick="viewScroll()">Your View</a>
                <a onclick="commsScroll()">Your Communities</a>
                <a onclick="contactsScroll()">Your Contacts</a>
            </div>
            <div>
                <a class="link" href=<%='/myCommunities/:' +id%>>My Communities</a>
                <a class="link" href=<%='/mycontacts/:' +id%>>My Contacts</a>
                <a class="link" href=<%='/user_events/:' +id%>>My Events</a>
                <a class="link" href=<%='/mymessages/:' +id%>>My Messages</a>
                <a class="link" href=" /create_community">Create Community</a>
            </div>
        </div>
        <div class="container">

            <div class="sidespace">

            </div>
            <div class="b">
                <div class="backdrop">
                    <div class='navbar'>
                        <div class="leftLinks">
                            <h3>Community</h3>
                            <a id="home">Home</a>
                        </div>
                        <div class="search">
                            <form action="/search" method="POST">
                                <input name="search" id="search" placeholder="Search for Communities!">
                            </form>
                        </div>
                        <div class="rightLinks">
                            <a id="settings">Settings</a>
                            <a id="account">Account</a>
                            <form action=" /signout" method="POST">
                                <button>Sign Out</button>
                            </form>
                        </div>


                    </div>





                </div>
                <div class=" view">

                    <!-- VIEW -->
                    <p class="title">Your View</p>
                    <div class="container">
                        <div class='col-8'>
                            <div class="card-text">
                                <div class="calendar"></div>
                                <div class='control-container'></div>
                            </div>
                        </div>
                        <div class='col-4'>
                            <div style="display:flex;">
                                <div class="card border-light mb-3 col-11" style="max-width: 18rem;">
                                    <div class="card-header">Your Day</div>
                                    <div class="card-body">
                                        <h5 class="day-title"></h5>
                                        <p class="card-map"></p>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <%for(var i=0;i<coms.length;i++){%>
                                        <div>

                                            <%=coms[i].name%>
                                                <label class="switch">
                                                    <input onclick="val(event,<%=coms[i].id%>)" type="checkbox"
                                                        id="switch" checked="true" name="switch">
                                                    <span class="slider round"></span>
                                                </label>
                                        </div>
                                        <%}%>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Event Entry-->
                    <div class="row">
                        <div class="col-3">
                            <form action=<%="/create_user_event/:" +id%> encType="multipart/form-data" method="POST">
                                <h5 class="createTitle">Create an Event</h5>

                                <input required="true" type="text" class="text" id="name" name="name"
                                    placeholder="Title"><br>

                                <div style="display:flex;">
                                    <input required="true" class="input date" type="date" id="date" name="date"
                                        placeholder="Date"><br>
                                    <input class="input text" type="text" id="loc" name="loc" placeholder="location">
                                </div>

                                <div class=" times">

                                    <span>Start</span>
                                    <input required="true" class="input time" type="time" id="startTime"
                                        name="startTime" placeholder="Start Time">

                                    <span>end</span>
                                    <input required="true" class="input time" type="time" id="endTime" name="endTime"
                                        placeholder="End Time">


                                </div>

                               
                                <div class = "dates" style="display:flex;">
                                    <span>Start Date</span>
                                    
                                    <input required="false"  type="date" id="startDate"
                                        name="startDate" placeholder="Start Date">

                                    <span>End Date</span>
                                    <input required="false"  type="date" id="endDate" name="endDate"
                                        placeholder="End Date">

                                </div>

                                <input class="input text" type="text" id="description" name="description"
                                    placeholder="Details"><br>

                                <div class="reoccuring" style="display:flex">

                                    <select name = "freq" id="freq">
                                        <option name="once" value="once">Once</opton>
                                        <option name="day" value="day">By Day</opton>
                                        <option name="month" value="month">By Month</option>
                                    </select>
                                    <%days=["S","M","T","W","Th","F","Sa"]%>
                                        <div id="daysRe" style="display:flex">
                                            <%for(var i=0;i<7;i++){%>
                                                <div>
                                                    <input onClick="this.checked=!this.checked;" class="dayCheck" type="checkbox" ><%=days[i]%>
                                                </div>
                                                <%}%>
                                        </div>
                                </div>
                                <input onchange="readFile(this)" class="input file" type="file" id="attachment"
                                    name="attachment" placeholder="Attachments"><br>

                                <button class="submit">Submit</button>

                            </form>

                        </div>
                        <div class="col">
                            <div class='upcoming-events'>
                                <h5 class="upcomingTitle">Upcoming Events</h5>

                                <div class="eventLog">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--MODAL-->

                <!-- Button trigger modal -->




                <!-- Modal -->
                <!--                 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>  -->














                <div class="comms">
                    <div class="row">
                        <div class="row" id="commTitle">
                            <p class="title">Your Communities</p>
                        </div>
                        <div class="col-12">
                            <div id="commBod">
                                <%for(var i=0;i<comms.length;i++){%>
                                    <div style="max-width: 900px; min-width: 10rem;" class="card">
                                        <div class="card-header">
                                            <h5>
                                                <%=comms[i].name%>

                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-text">

                                            </div>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                </div>








                <div class="Contacts">
                    <div class="row">
                        <p class="title">Your Contacts</p>
                    </div>

                </div>


            </div>
        </div>
        <%}else{%>
            <div class="container">
                <h1>Community</h1>
                <form action="/search" method="POST">
                    <input name="search" id="search" placeholder="Search for Communities!">
                </form>
                <form action="/signin" method="GET">
                    <button>Sign In</button>
                </form>
            </div>
            <%}%>


                <script>
                    class Check {
                        constructor(comm, status) {
                            this.comm = comm;
                            this.status = status;
                        }
                        check() {
                            if (this.status == 1) { this.status = 0 }
                            else { this.status = 1 }
                        }
                    }


                    var stc = 0
                    var lstc = 0
                    var names = '<%-eventNames%>'
                    //SCRIPT///////////////////////////////////////////////////////////////////////
                    //UPLOAD///////////////////////////////////////////////////////////////////////
                    N = 0
                    const height = 415;
                    function monthLength(n) {
                        return months[Object.keys(months)[n]]['length']
                    }


                    function readFile(input) {
                        let file = input.files[0]
                        let fileReader = new FileReader();
                        fileReader.readAsText(file);
                        fileReader.onload = function (e) {
                            document.getElementById("result").src = e.target.result
                            document.querySelector("#result").style.width = "150px"
                            document.querySelector("#result").style.height = "150px"
                            fileReader.readAsDataURL(input.files[0])
                        };
                    }

                    const currentDate = new Date()
                    const year = currentDate.getFullYear()
                    var currentDay = currentDate.getDate()
                    var currentMonth = currentDate.getMonth()
                    var dayWeek = currentDate.getDay()
                    var eventDates = '<%-eventDates%>'
                    var startTimes = '<%-eventStartTimes%>'
                    var endTimes = '<%-eventEndTimes%>'
                    var locs = '<%-eventLocs%>'
                    var details = '<%-eventDetails%>'
                    var files = '<%-eventFiles%>'
                    var names = '<%-eventNames%>'
                    var eventIds = '<%-eventIds%>'
                    var statuses = '<%-eventStatus%>'.split(',')
                    var dict = '<%-dic%>'
                    var comms = '<%-comms%>'
                    checks = []

                    comm = comms.split(',').filter((v, i, a) => {
                        return a.indexOf(v) == i
                    });
                    console.log('comm: ', comm)
                    for (var i = 0; i < comm.length; i++) {
                        checks.push(new Check(comm[i], 1))
                    }

                    const months = {
                        January: { length: 31 },
                        February: { length: 28 },
                        March: { length: 31 },
                        April: { length: 30 },
                        May: { length: 31 },
                        June: { length: 30 },
                        July: { length: 31 },
                        August: { length: 31 },
                        September: { length: 30 },
                        October: { length: 31 },
                        November: { length: 30 },
                        December: { length: 31 }
                    }
                    const weekDays = {
                        0: 'Sunday',
                        1: 'Monday',
                        2: 'Tuesday',
                        3: 'Wednesday',
                        4: 'Thursday',
                        5: 'Friday',
                        6: 'Saturday'
                    }
                    function findDay() {
                        const base = { '2023-8-29': 'Tuesday' }
                        var yearsSince = year - 2023
                        var monthsSince = currentMonth - 8
                        var daysSince = currentDay - 29

                        Object.keys(base).split('-')[1]
                        thisDay
                    }




                    ////////////////////MODAL///////////////////////////


                    eventDates = eventDates.split(',')
                    startTimes = startTimes.split(',')
                    endTimes = endTimes.split(',')
                    locs = locs.split(',')
                    details = details.split(',')
                    files = files.split(',')
                    names = names.split(',')






                    ///////////////UPCOMING EVENTS///////////////////
                    for (var i = 0; i < names.length; i++) {
                        if (eventDates[i].split('-')[0] >= year &&
                            eventDates[i].split('-')[1] - 1 == currentMonth &&
                            eventDates[i].split('-')[2] >= currentDay) {
                            var card = document.createElement('div')
                            card.className = "card border-light mb-3 d-flex p-2"

                            card.className = `c-${i}`
                            card.style.maxWidth = '16rem'
                            card.style.minWidth = '8rem'
                            card.style.justifyContent = "space-around";
                            var cardBody = document.createElement("div")
                            card.style.display.backgroundColor = 'black';
                            cardBody.className = `card-body ${i}`
                            var cardTitle = document.createElement("div")
                            cardTitle.className = `card-title ${i}`

                            var cardText = document.createElement("div")
                            cardText.className = 'card-text'


                            var cardDate = document.createElement("div")
                            var cardTimes = document.createElement("div")
                            var start = document.createElement("div")
                            var end = document.createElement("div")
                            cardDate.innerHTML = eventDates[i]

                            cardTimes.appendChild(start)
                            cardTimes.appendChild(end)
                            cardText.appendChild(cardDate)
                            cardText.appendChild(cardTimes)
                            cardTimes.style.display = 'flex'
                            start.innerHTML = startTimes[i]
                            end.innerHTML = endTimes[i]

                            cardTitle.innerHTML = names[i]

                            cardBody.appendChild(cardTitle)
                            cardBody.appendChild(cardText)
                            card.appendChild(cardBody)
                            document.querySelector('.eventLog').appendChild(card)

                            var modal = document.createElement('div')
                            modal.style.display = "none";
                            modal.className = `m${i}`
                            card.onclick = function (event) {

                                var h1 = document.createElement('h1')
                                document.querySelector(`.m${event.target.className.split(' ')[1]}`).style.display = "block";
                                var mod = document.querySelector(`.m${event.target.className.split(' ')[1]}`)
                                mod.style.width = '30%';
                                mod.style.margin = '0 auto';
                                mod.style.position = 'fixed';
                                mod.style.top = '35%';
                                mod.style.left = '35%';
                                mod.style.height = '30%';
                                mod.style.zIndex = '100';
                                mod.style.backgroundColor = '#f2f2f2';

                            }
                            var mC = document.createElement('div')
                            var clos = document.createElement('span')
                            clos.innerHTML = '&times;'
                            clos.className = `cl ${i}`
                            clos.onclick = function (event) {
                                document.querySelector(`.m${event.target.className.split(' ')[1]}`).style.display = "none";
                            }
                            var cont = document.createElement('div')
                            cont.innerHTML = names[i]
                            var file = document.createElement('img')
                            file.src = "data:image/png;base64," + files[i]
                            modal.appendChild(mC)
                            mC.appendChild(clos)
                            mC.appendChild(cont)
                            mC.appendChild(file)
                            document.querySelector('.eventLog').appendChild(modal)
                        }
                    }
                    function modal(i) {
                        document.querySelector(`${i}`).style.display = "block";
                    }
                    function cls() {
                        document.querySelector(`${i}`).style.display = "none";
                    }


                    //getting the current year and date

                    /*                     const currentDate = new Date();
                                        const year = currentDate.getFullYear() */
                    var currentDay = currentDate.getDate();
                    var currentMonth = currentDate.getMonth();
                    var htmldate = document.createElement("h5");
                    var yr = year
                    var addyears = year - 2023

                    function viewScroll() {
                        window.scrollTo(0, 200)
                    }
                    function contactsScroll() {
                        window.scrollTo(0, 20000)
                    }
                    function commsScroll() {
                        window.scrollTo(0, 1300)
                    }
                    var n = currentMonth;

                    monthNames = Object.keys(months)


                    var c = 0;
                    var next = document.createElement("button")
                    next.innerHTML = '<img src="/Assets/arrow.png">'

                    var prev = document.createElement("button")
                    prev.innerHTML = '<img src="/Assets/leftarrow.png">'

                    prev.className = 'Button'
                    next.className = 'Button'
                    var control = document.createElement("div")
                    control.className = "control"
                    control.appendChild(prev)
                    control.appendChild(next)


                    function createCal(n, y) {

                        htmldate.innerHTML = yr + addyears
                        var calTitle = document.createElement("div")
                        c = 0
                        var cal = document.createElement('div')
                        cal.className = 'cal';
                        var name = document.createElement("h3")
                        name.innerHTML = monthNames[n]
                        calTitle.appendChild(name)
                        calTitle.appendChild(htmldate)
                        cal.appendChild(calTitle)
                        calTitle.className = "calTitle";



                        for (var i = 0; i < Math.ceil(months[`${monthNames[n]}`].length / 7); i++) {
                            var week = document.createElement("div")
                            week.className = "weekDiv"
                            for (var j = 0; j < 7 && c < months[`${monthNames[n]}`].length; j++) {
                                window.value = 90
                                window.day = document.createElement("div")
                                ////////////////////
                                /*                                 const currentDate = new Date()
                                                                const year = currentDate.getFullYear()
                                                                var currentDay = currentDate.getDate()
                                                                var currentMonth = currentDate.getMonth()
                                                                var dayWeek = currentDate.getDay() */

                                day.className = `day-${c}`
                                day.style.margin = '10px'
                                day.style.width = '80px';
                                day.style.height = '80px'
                                week.appendChild(day)
                                var setTime = ""


                                ///////////////////////////////////YOUR DAY////////////////////////////////////////////////


                                day.onclick = function (event) {


                                    var thisDay = parseInt(event.target.className.split('-')[1]) + 1

                                    dayWeek = currentDate.getDay()

                                    var totDays = 0
                                    var totalMid = 0

                                    if (Math.abs(N) <= 1) {
                                        if (N > 0) {
                                            totDays = monthLength(n) - currentDay + thisDay + 1
                                        }
                                        if (N < 0) {
                                            totDays = currentDay + monthLength(n) - thisDay
                                        }
                                        if (N == 0) {
                                            totDays = thisDay - currentDay
                                        }
                                    }

                                    if (N > 1) {
                                        var m = currentMonth + 1
                                        if (m == -1) { m = 11 }
                                        for (var i = 0; i < N - 1; i++) {
                                            totalMid += monthLength(m)
                                            m++
                                            if (m == 12) { m = 0 }

                                        }
                                        totDays = monthLength(currentMonth) - currentDay + totalMid + thisDay

                                    }
                                    else if (N < -1) {
                                        var m = n + 1
                                        if (m == 12) { m = 0 }
                                        for (var i = 0; i > N + 1; i--) {
                                            totalMid += monthlength(m)
                                            m--
                                            if (m == -1) { m = 11 }
                                        }
                                        totDays = currentDay + totalMid + monthLength(n) - thisDay
                                    }

                                    var dw = dayWeek

                                    for (var i = 0; i < Math.abs(totDays); i++) {
                                        if (N > 0) {
                                            dw += 1
                                            if (dw == 7) { dw = 0 }
                                        }
                                        if (N < 0) {
                                            dw -= 1
                                            if (dw == -1) { dw = 6 }
                                        }
                                        if (N == 0) {
                                            if (thisDay - currentDay > 0) {
                                                dw += 1
                                                if (dw == 7) { dw = 0 }
                                            }
                                            if (thisDay - currentDay < 0) {
                                                dw -= 1
                                                if (dw == -1) { dw = 6 }
                                            }
                                        }
                                    }



                                    if (document.getElementsByClassName('t').length > 0) {
                                        document.querySelector('.t').remove()
                                    }
                                    var map = document.querySelector('.card-map')
                                    var cont = document.createElement('div')

                                    cont.className = 't'
                                    cont.style.height = '100%'
                                    cont.style.position = "relative"
                                    var hr = 12
                                    for (var i = 0; i < 24; i++) {


                                        var t = document.createElement('p')
                                        t.innerHTML = hr
                                        t.style.textAlign = "left";
                                        t.style.fontSize = "12px"
                                        t.style.color = "gray"
                                        var hour = document.createElement('div')

                                        hour.appendChild(t)

                                        hr++
                                        if (hr > 12) { hr = 1 }
                                        cont.appendChild(hour)
                                        hour.className = `${i + 1}`
                                        hour.style.borderBottom = "gray solid 1px";
                                        hour.style.height = `${100 / 24}%`
                                        map.appendChild(cont)


                                    }


                                    for (var k = 0; k < '<%-eventDates%>'.split(',').length; k++) {


                                        if (parseInt(String('<%-eventDates%>'.split(',')[k].split('-')[2])) == parseInt(thisDay) &&
                                            parseInt(String('<%-eventDates%>'.split(',')[k].split('-')[1])) == N + n + 1 &&
                                            parseInt(String('<%-eventDates%>'.split(',')[k].split('-')[0])) == yr
                                        ) {

                                            startTimes = '<%-eventStartTimes%>'.split(',')[k]
                                            endTimes = '<%-eventEndTimes%>'.split(',')[k]

                                            var startValue = parseFloat(startTimes.split(':')[1] / 60) + parseFloat(startTimes.split(':')[0])
                                            var endValue = parseFloat(endTimes.split(':')[0]) + parseFloat(endTimes.split(':')[1] / 60)
                                            var h1 = document.createElement('h1')

                                            var comms = '<%-comms%>'
                                            var overLine = document.createElement('div')
                                            cont.appendChild(overLine)




                                            var line = document.createElement('div')
                                            overLine.appendChild(line)
                                            line.outerHTML = `<div id = '${statuses[k]}'  data-bs-toggle="modal" data-bs-target="#exampleModal${k}"></div>`
                                            line = document.getElementById(`${statuses[k]}`)



                                            overLine.className = `ol-${comms.split(',')[k]}`
                                            var h1 = document.createElement('h1')

                                            var total = endValue - startValue
                                            var height = (total / 24) * 415
                                            var top = (startValue / 24) * 415
                                            overLine.appendChild(line)
                                            overLine.id = `ol-${k}`
                                            line.className = `l-${k}`

                                            var modal = document.createElement("div")
                                            document.body.appendChild(modal)
                                            modal.outerHTML = `<div id= 'exampleModal${k}' style='data-backdrop':'true'></div>`
                                            modal = document.getElementById(`exampleModal${k}`)

                                            var dialog = document.createElement('div')
                                            dialog.className = "modal-dialog"
                                            //dialog.role = "document"
                                            modal.appendChild(dialog)

                                            /////////////////////modal//////////////////////
                                            modal.className = "modal fade"

                                            modal.tabIndex = "-1"
                                            modal.role = "dialog"
                                            modal.dataKeyboard = "False"
                                            modal.ariaLabel = "exampleModalLabel"
                                            var content = document.createElement('div')
                                            var mhead = document.createElement('div')
                                            mhead.className = "modal-header"
                                            var mtit = document.createElement('div')
                                            var mclose = document.createElement('span')
                                            mclose.innerHTML = "&times;"
                                            mclose.ariaHidden = "true"
                                            content.appendChild(mclose)
                                            var mbod = document.createElement('div')
                                            mtit.className = "modal-title"
                                            mtit.id = "exampleModalLabel"
                                            mhead.appendChild(mtit)
                                            dialog.appendChild(content)
                                            content.appendChild(mhead)
                                            content.appendChild(mbod)
                                            var mcard = document.createElement('div')
                                            mcard.className = "card border-light mb-3"
                                            var mcardbod = document.createElement('div')
                                            mcardbod.className = "card-body"
                                            mcard.appendChild(mcardbod)
                                            var mh = document.createElement('h5')
                                            mh.className = `mh-${k}`
                                            var mdate = document.createElement('div')
                                            mdate.className = `md-${k}`
                                            var mloc = document.createElement('div')
                                            mloc.className = `loc-${k}`
                                            var d = document.createElement('div')
                                            d.className = `d-${k}`
                                            var f = document.createElement('div')
                                            f.className = `f-${k}`
                                            var et = document.createElement('input')
                                            et.type = "time"
                                            et.className = `et-${k}`
                                            var st = document.createElement('input')
                                            st.type = "time"
                                            st.className = `st-${k}`

                                            //mdate.innerHTML = '<%-eventDates%>'.split(',')[k]
                                            mcardbod.appendChild(mh)
                                            mcardbod.appendChild(mloc)
                                            mcardbod.appendChild(d)
                                            mcardbod.appendChild(f)
                                            mcardbod.appendChild(mdate)
                                            var times = document.createElement('div')
                                            times.style.display = "flex";
                                            times.style.gap = '10px'
                                            times.appendChild(st)
                                            times.appendChild(et)
                                            mcardbod.appendChild(times)
                                            mbod.appendChild(mcard)

                                            var upperTab = document.createElement('div')
                                            var lowerTab = document.createElement('div')
                                            upperTab.name = `${comms.split(',')[k]}`
                                            lowerTab.name = `${comms.split(',')[k]}`
                                            line.name = `${comms.split(',')[k]}`
                                            upperTab.id = `${statuses[k]}`
                                            lowerTab.id = `${statuses[k]}`
                                            upperTab.className = `ut-${k}`
                                            lowerTab.className = `lt-${k}`
                                            upperTab.style.backgroundColor = "black"
                                            lowerTab.style.backgroundColor = 'green'
                                            lowerTab.style.position = 'relative';
                                            upperTab.style.position = 'relative';
                                            upperTab.style.height = '10px'
                                            lowerTab.style.height = '10px'
                                            upperTab.style.zIndex = '2'
                                            lowerTab.style.zIndex = '2'

                                            overLine.appendChild(upperTab)
                                            overLine.appendChild(line)
                                            overLine.appendChild(lowerTab)




                                            line.style.height = '100%'
                                            line.style.position = 'relative'
                                            overLine.style.border = '1px solid black'
                                            overLine.style.width = '100%';
                                            overLine.style.height = `${height}px`;
                                            overLine.style.position = 'absolute';
                                            overLine.style.top = `${top}px`
                                            overLine.style.zIndex = 1;
                                            overLine.style.opacity = "40%";
                                            var valregex = /(?<=al":")\w*/g
                                            var keyregex = /(?<=key":)\w*/g

                                            var keys = dict.match(keyregex)
                                            var vals = dict.match(valregex)
                                            overLine.href = "#exampleModal"


                                            cont.appendChild(overLine)
                                            /* overLine.onclick = function(e){
                                            } */
                                            console.log('checks: ', checks)
                                            lowerTab.display = "none"
                                            var map = checks.map((v => { return v.comm }))
                                            console.log(checks[map.indexOf(comms.split(',')[k])])
                                            if (checks[map.indexOf(comms.split(',')[k])].status == 0) {
                                                //line.style.display = "none"
                                                overLine.style.display = 'none';
                                            }
                                            else { overLine.style.display = 'block' }

                                            line.style.backgroundColor = '#' + vals[keys.indexOf(comms.split(',')[k])];
                                            cont.appendChild(overLine)
                                            //////////////////////////////////////////////HIDE////////////////////////////////////////////////////
                                            /////////////////////MODAL/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                            var eventDates = '<%-eventDates%>'
                                            var startTimes = '<%-eventStartTimes%>'
                                            var endTimes = '<%-eventEndTimes%>'
                                            var locs = '<%-eventLocs%>'
                                            var details = '<%-eventDetails%>'
                                            var files = '<%-eventFiles%>'
                                            var names = '<%-eventNames%>'
                                            var eventIds = '<%-eventIds%>'

                                            overLine.onclick = function (e) {
                                                console.log(document.querySelector(`.md-${e.target.className.split('-')[1]}`))
                                                //var locs = document.querySelector(`.loc-${e.target.className.split('-')[1]}`)
                                                var mhs = document.querySelector(`.mh-${e.target.className.split('-')[1]}`)
                                                var ds = document.querySelector(`.d-${e.target.className.split('-')[1]}`)
                                                var fs = document.querySelector(`.f-${e.target.className.split('-')[1]}`)
                                                var ets = document.querySelector(`.et-${e.target.className.split('-')[1]}`)
                                                var sts = document.querySelector(`.st-${e.target.className.split('-')[1]}`)

                                                var mds = document.querySelector(`.md-${e.target.className.split('-')[1]}`)
                                                mds.innerHTML = `${eventDates.split(',')[e.target.className.split('-')[1]]}`
                                                sts.val = `${startTimes.split(',')[e.target.className.split('-')[1]]}`
                                                ets.val = `${endTimes.split(',')[e.target.className.split('-')[1]]}`
                                                //locs.innerHTML = `${locs.split(',')[e.target.className.split('-')[1]]}`
                                                ds.innerHTML = `${details.split(',')[e.target.className.split('-')[1]]}`
                                                fs.innerHTML = `${files.split(',')[e.target.className.split('-')[1]]}`
                                                mhs.innerHTML = `${names.split(',')[e.target.className.split('-')[1]]}`


                                            }




                                            //////////////////DRAG////////////////


                                            upperTab.onclick = function (e) {

                                                dragUpperTab(document.querySelector(`.${e.target.className}`))

                                            }
                                            function dragUpperTab(elm) {
                                                var pos1 = 0
                                                var pos2 = 0
                                                var pos3 = 0
                                                var pos4 = 0
                                                if (elm.id == 1) {
                                                    elm.onmousedown = dragMouseDown;
                                                }
                                                function dragMouseDown(e) {

                                                    pos4 = e.clientY;
                                                    document.onmouseup = closeDragElement;
                                                    // call a function whenever the cursor moves:
                                                    document.onmousemove = uelementDrag;

                                                }

                                                function uelementDrag(e) {
                                                    //getting id//
                                                    //location.assign(`/edit/:${eventIds.split(',')[elm.className.split('-')[1]]}`)

                                                    pos2 = pos4 - e.clientY;


                                                    pos4 = e.clientY
                                                    document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.height = (parseInt(document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.height) + pos2).toString() + 'px'

                                                    // set the element's new position:
                                                    document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.top = (document.querySelector(`#ol-${elm.className.split('-')[1]}`).offsetTop - pos2) + "px";
                                                    //finding time//
                                                    var ol = document.querySelector(`#ol-${elm.className.split('-')[1]}`)
                                                    var st = (ol.offsetTop / 415) * 24
                                                    var stm = parseInt(parseFloat("0." + (st.toString().split('.')[1])) * 60)
                                                    var stmc = stm > 10 ? stm.toString() : '0' + stm.toString()
                                                    var h1 = document.createElement('h1')
                                                    stc = (parseInt((st - 1).toString().split('.')[0]) + 1).toString() + ":" + stmc

                                                    var lst = ((ol.offsetTop + parseInt(ol.style.height)) / 415) * 24
                                                    var lm = parseInt(parseFloat('0.' + (lst.toString().split('.')[1]).toString()) * 60)
                                                    var lmc = lm >= 10 ? lm.toString() : '0' + lm.toString()
                                                    lstc = lst.toString().split('.')[0] + ":" + lmc


                                                }
                                                function closeDragElement() {
                                                    console.log(stc)
                                                    s = { id: `${eventIds.split(',')[elm.className.split('-')[1]]}`, st: stc, et: lstc }

                                                    var req = new XMLHttpRequest();
                                                    //var formdata = new FormData(s);
                                                    req.open("POST", "/edit", true);
                                                    req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=utf-8')
                                                    req.send(JSON.stringify(s));


                                                    /* stop moving when mouse button is released:*/
                                                    document.onmouseup = null;
                                                    document.onmousemove = null;
                                                }

                                            }


                                            lowerTab.onclick = function (e) {
                                                dragLowerTab(document.querySelector(`.${e.target.className}`))

                                            }
                                            function dragLowerTab(elm) {
                                                var pos1 = 0
                                                var pos2 = 0
                                                var pos3 = 0
                                                var pos4 = 0
                                                if (elm.id == 1) {
                                                    elm.onmousedown = dragMouseDown;
                                                }
                                                function dragMouseDown(e) {
                                                    pos4 = e.clientY;
                                                    document.onmouseup = closeDragElement;
                                                    // call a function whenever the cursor moves:
                                                    document.onmousemove = lElementDrag;

                                                }
                                                function lElementDrag(e) {

                                                    pos2 = pos4 - e.clientY;
                                                    pos4 = e.clientY;
                                                    document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.height = `${parseInt(document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.height) - pos2}px`

                                                    var ol = document.querySelector(`#ol-${elm.className.split('-')[1]}`)
                                                    var st = (ol.offsetTop / 415) * 24
                                                    var stm = parseInt(parseFloat("0." + (st.toString().split('.')[1])) * 60)
                                                    var stmc = stm > 10 ? stm.toString() : '0' + stm.toString()
                                                    var h1 = document.createElement('h1')
                                                    stc = (st - 1).toString().split('.')[0] + ":" + stmc

                                                    var lst = ((ol.offsetTop + parseInt(ol.style.height)) / 415) * 24
                                                    var lm = parseInt(parseFloat('0.' + (lst.toString().split('.')[1]).toString()) * 60)
                                                    var lmc = lm >= 10 ? lm.toString() : '0' + lm.toString()
                                                    lstc = lst.toString().split('.')[0] + ":" + lmc

                                                }
                                                function closeDragElement() {

                                                    s = { id: `${eventIds.split(',')[elm.className.split('-')[1]]}`, st: stc, et: lstc }

                                                    var req = new XMLHttpRequest();
                                                    //var formdata = new FormData(s);
                                                    req.open("POST", "/edit", true);
                                                    req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=utf-8')
                                                    req.send(JSON.stringify(s));


                                                    /* stop moving when mouse button is released:*/
                                                    document.onmouseup = null;
                                                    document.onmousemove = null;
                                                }
                                            }

                                            line.onclick = function (e) {


                                                dragLine(document.querySelector(`.${e.target.className}`))
                                            }

                                            function dragLine(elm) {


                                                var pos1 = 0
                                                var pos2 = 0
                                                var pos3 = 0
                                                var pos4 = 0;
                                                if (elm.id == 1) {

                                                    elm.onmousedown = dragMouseDown;
                                                }
                                                function dragMouseDown(e) {

                                                    pos3 = e.clientX;
                                                    pos4 = e.clientY;
                                                    document.onmouseup = closeDragElement;
                                                    // call a function whenever the cursor moves:
                                                    document.onmousemove = elementDrag;

                                                }
                                                function elementDrag(e) {
                                                    pos1 = pos3 - e.clientX;
                                                    pos2 = pos4 - e.clientY;
                                                    pos4 = e.clientY;
                                                    pos4 = e.clientY;
                                                    // set the element's new position:
                                                    document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.top = (document.querySelector(`#ol-${elm.className.split('-')[1]}`).offsetTop - pos2) + "px";
                                                    //document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.height = `${parseInt(document.querySelector(`#ol-${elm.className.split('-')[1]}`).style.height) - pos2}px`

                                                    //getting time
                                                    var ol = document.querySelector(`#ol-${elm.className.split('-')[1]}`)
                                                    var st = (ol.offsetTop / 415) * 24
                                                    var stm = parseInt(parseFloat("0." + (st.toString().split('.')[1])) * 60)
                                                    var stmc = stm > 10 ? stm.toString() : '0' + stm.toString()
                                                    var h1 = document.createElement('h1')
                                                    stc = (st - 1).toString().split('.')[0] + ":" + stmc

                                                    var lst = ((ol.offsetTop + parseInt(ol.style.height)) / 415) * 24
                                                    var lm = parseInt(parseFloat('0.' + (lst.toString().split('.')[1]).toString()) * 60)
                                                    var lmc = lm >= 10 ? lm.toString() : '0' + lm.toString()
                                                    lstc = lst.toString().split('.')[0] + ":" + lmc


                                                }
                                                function closeDragElement() {
                                                    s = { id: `${eventIds.split(',')[elm.className.split('-')[1]]}`, st: stc, et: lstc }

                                                    var req = new XMLHttpRequest();
                                                    //var formdata = new FormData(s);
                                                    req.open("POST", "/edit", true);
                                                    req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded; charset=utf-8')
                                                    req.send(JSON.stringify(s));

                                                    /* stop moving when mouse button is released:*/
                                                    document.onmouseup = null;
                                                    document.onmousemove = null;
                                                }
                                            }
                                        }

                                    }




                                    dayName = weekDays[dw]
                                    document.querySelector('.day-title').innerHTML = dayName


                                }


                                var number = document.createElement("span")
                                day.innerHTML = c + 1;
                                day.appendChild(number)
                                day.style.position = 'relative';
                                for (var k = 0; k < '<%-eventDates%>'.split(',').length; k++) {
                                    if (c + 1 == currentDay &&
                                        n == currentMonth &&
                                        yr == year) {

                                        day.style.backgroundColor = "rgba(0,0,0,0.05)"
                                        day.style.borderBottom = "solid"
                                    }
                                    if (parseInt(String('<%-eventDates%>'.split(',')[k].split('-')[2])) == c + 1 &&
                                        parseInt(String('<%-eventDates%>'.split(',')[k].split('-')[1])) == n + 1 &&
                                        parseInt(String('<%-eventDates%>'.split(',')[k].split('-')[0])) == yr
                                    ) {

                                        startTimes = '<%-eventStartTimes%>'.split(',')[k]
                                        endTimes = '<%-eventEndTimes%>'.split(',')[k]

                                        var startValue = parseFloat(startTimes.split(':')[1] / 60) + parseFloat(startTimes.split(':')[0])
                                        var endValue = parseFloat(endTimes.split(':')[0]) + parseFloat(endTimes.split(':')[1] / 60)
                                        var comms = '<%-comms%>'
                                        var total = endValue - startValue
                                        var height = (total / 24) * 80

                                        var top = 80 * (startValue / 24)
                                        var line = document.createElement('div')
                                        line.className = `cl-${comms.split(',')[k]}`
                                        line.style.width = '100%';
                                        line.style.height = `${height}px`
                                        line.name = `${comms.split(',')[k]}`
                                        line.zIndex = -1;
                                        line.style.position = 'absolute';
                                        line.style.top = `${top}px`


                                        valregex = /(?<=al":")\w*/g
                                        keyregex = /(?<=key":)\w*/g

                                        keys = dict.match(keyregex)
                                        vals = dict.match(valregex)

                                        line.style.backgroundColor = '#' + vals[keys.indexOf(comms.split(',')[k])];

                                        day.appendChild(line)
                                        day.onClick = function (event) {
                                            day.style.backgroundColor = 'black'
                                        }



                                        day.appendChild(line)

                                    }

                                }
                                c++

                            }
                            cal.appendChild(week)

                        }
                        document.querySelector(".control-container").appendChild(control)
                        document.querySelector(".calendar").appendChild(cal)
                        ///////////////////////////////////
                        ///////////////////////////////////
                        ///////////////////////////////////
                        ///////////////////////////////////
                    }

                    ///////////////////////////////////////HIDE/////////////////////////////////////////////


                    function val(event, e) {
                        for (var i = 0; i < checks.length; i++) {
                            if (checks[i].comm == e) {
                                checks[i].check()
                            }
                        }
                        var s = document.querySelectorAll(`.ol-${e}`)
                        var map = checks.map((v => { return v.comm }))
                        var l = document.querySelectorAll(`.cl-${e}`)
                        console.log(l)
                        for (var i = 0; i < s.length; i++) {
                            if (checks[map.indexOf(e.toString())].status == 0) {
                                s[i].style.display = 'none';

                            } else {
                                s[i].style.display = 'block'

                            }
                        }
                        for (var i = 0; i < l.length; i++) {
                            if ((checks[map.indexOf(e.toString())].status == 0)) {
                                l[i].style.display = 'none'
                            } else {
                                l[i].style.display = 'block'
                            }
                        }
                    }
                    ////////////////////////////////////////////////////////////////////////////////////////

                    createCal(currentMonth, addyears)
                    var daysApart = 0
                    var daysTillEnd = months[Object.keys(months)[n]] - currentDay
                    next.onclick = function () {



                        n++

                        document.querySelector('.cal').remove()
                        if (n == 12) { n = 0; yr += 1 }
                        createCal(n)



                        N++



                    }
                    prev.onclick = function () {

                        n--
                        document.querySelector('.cal').remove()
                        if (n == -1) { n = 11; yr -= 1 }
                        createCal(n)

                        N--



                    }

                    /*                     function check(details, com){
                                            for(var i = 0;i<checks.length;i++){
                                                if(checks[i].comm == com){
                                                    if(checks[i].status == 1){checks[i].status = 0}
                                                    else{checks[i].status = 1}
                                                }
                                            }
                                            console.log(checks)
                    
                                        } */
                </script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>


</body>

</html>